<footer>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <hr>
                <center>
                    This project is <a href="https://github.com/kurone02/gacha-chess">open source on github</a> <br>
                </center>
            </div>
            <div class="col-md-1"></div>
        </div>
</footer>